@use 'sass:color';

$gutter: 1rem;

$background: #282c34;
$background-scaled: color.scale($background, $lightness: 10%);

:root {
  --background: #{$background};
  --background-scaled: #{$background-scaled};
  --text-clear: white;
  --text-lol: #FFD700;
  --link: lightcoral;
  --link-visited: violet;
}