@use '../../styles/vars';

.header {
  position: fixed;
  top: 0;
  height: 7.5rem;
  width:100%;
  display: flex;
  justify-content: center;
  margin-bottom: vars.$gutter;
  background-color: var(--background);
  z-index: 1;

  @media (min-width: 1000px) {
    height: 13.5rem;
  }


  // &-title {
  //   font-family: LoL;
  //   font-size: 2rem;
  //   color: var(--text-lol);
  // }

  &-logo {
    width: 100%;

    @media (min-width: 768px) {
      width: 40%;
    }

    @media (min-width: 1400px) {
      width: 30%;
    }
  }
}
