@use '../../styles/vars';

.footer {
  padding: vars.$gutter;
  margin-top: vars.$gutter;
  text-align: center;
  border-top: 1px solid var(--text-lol);

  &-created {

    &:last-child {
      margin-top: (vars.$gutter / 2);
    }

    &-link {
      color: var(--link);
      text-decoration: underline;

      &:visited {
        color: var(--link-visited);
      }
    }
  }
}